- name: set host name
  shell: hostnamectl set-hostname {{hostname}}

- name: off firewalld
  service:
    name: firewalld
    state: stopped
    enabled: no

- name: off selinux
  shell: setenforce 0
  ignore_errors: yes

- name: off selinux config
  lineinfile:
    path: /etc/selinux/config
    regex: ^SELINUX=.*
    line: SELINUX=disabled

- name: install pkg
  yum:
    name: bind-utils,bzip2,git,nfs-utils,curl,yum-utils,device-mapper-persistent-data,lvm2,net-tools,conntrack-tools,wget,vim,ntpdate,libseccomp,libtool-ltdl,telnet
    state: latest

- name: sync clock
  cron:
    name: "sync clock"
    minute: "*/5"
    job: "ntpdate ntp1.aliyun.com &> /dev/null"

- name: sync sysctl config
  copy:
    src: k8s.conf
    dest: /etc/sysctl.d/k8s.conf
    
- name: use k8s.conf
  shell: sysctl -p /etc/sysctl.d/k8s.conf

- name: load ipvs module
  script: ipvs.sh

include 'iptables.yaml'
include 'kernel.yaml'