[Unit]
Description=Etcd Server
After=network.target
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
LimitNOFILE=65535
Restart=on-failure
RestartSec=5s
TimeoutStartSec=0
ExecStart=/usr/local/bin/etcd --config-file=/etc/etcd/etcd.yml

[Install]
WantedBy=multi-user.target